# 🔹 Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Virtual environments
venv/
env/
ENV/

# 🔹 Jupyter Notebook checkpoints
.ipynb_checkpoints/


# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log

# 🔹 Model files (optional)
*.pkl
*.joblib

# 🔹 IDE files
.vscode/
.idea/

# 🔹 Temporary files
*.tmp
*.bak